Source: ros-indigo-rb1-base-pad
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-diagnostic-updater, ros-indigo-geometry-msgs, ros-indigo-message-generation, ros-indigo-robotnik-msgs, ros-indigo-roscpp, ros-indigo-sensor-msgs
Homepage: http://wiki.ros.org/rb1_base_pad
Standards-Version: 3.9.2

Package: ros-indigo-rb1-base-pad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-diagnostic-updater, ros-indigo-geometry-msgs, ros-indigo-message-runtime, ros-indigo-robotnik-msgs, ros-indigo-roscpp, ros-indigo-sensor-msgs
Description: The rb1_base_pad package
