Source: ros-kinetic-rb1-base-common
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/rb1_base_common
Standards-Version: 3.9.2

Package: ros-kinetic-rb1-base-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rb1-base-description, ros-kinetic-rb1-base-pad
Description: The rb1_base_common package.
 It contains rb1 base common packages used for robot control and for simulation
