Source: ros-indigo-rb1-base-description
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-robotnik-sensors, ros-indigo-roslaunch, ros-indigo-urdf, ros-indigo-xacro
Homepage: http://wiki.ros.org/rb1_base_description
Standards-Version: 3.9.2

Package: ros-indigo-rb1-base-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-robot-state-publisher, ros-indigo-robotnik-sensors, ros-indigo-urdf, ros-indigo-xacro
Description: The rb1_base_description package
